<app-navbar></app-navbar>
<div class="wrapper">
<div class="container-fluid">
    <div class="row">

        <div class="col-5">
            <h1 class="home-text text-uppercase text-custom"> Start Creating Your Post </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-8">
            <div class="card-box ">
                <form (ngSubmit)="onPost(p)" #p = "ngForm">
                    <h4 class="header-title">Post</h4>
                    <h5 class="m-t-40"><b>محتوى المنشور</b></h5>

                    <div class="m-t-20">

                        <textarea 
                        id="textarea" 
                        class="form-control"
                         rows="20"
                         ngModel
                         name="postContent"
                         required
                         #postContent = "ngModel"
                            placeholder="توصيف الوظيفة الشاغرة"></textarea>
                            <span class="error has-error" *ngIf="!postContent.valid && postContent.touched">هذا الحقل مطلوب لنشر المنشور</span>
                    </div>

                    <div class="m-t-20 ">
                        <h5 class="m-b-10"> العلامات المميزة للمنشور </h5>
                        <div class="m-t-10">
                            <div class="bootstrap-tagsinput">
                                <span #item class="tag label label-info">Amsterdam<span data-role="remove"  (click)="item.remove()"></span></span>
                                <span #item1  class="tag label label-info" >Washington<span (click)="item1.remove()" data-role="remove" ></span></span>
                                <span #item2  class="tag label label-info">Sydney<span (click)="item2.remove()" data-role="remove" ></span></span>
                                <button class="btn btn-success waves-effect waves-light btn-sm" routerLink="/school/tags">add tages <span class="fa fa-plus"></span></button>
                            </div>
                            
                            <div class="m-t-20">
                                <button type="submit" [disabled] = "!p.valid"
                                    class="btn btn-primary btn-rounded w-md waves-effect waves-light m-b-5 m-t-10">نشر</button>
                                    <button type="button" class="btn btn-danger btn-rounded w-md waves-effect waves-light m-b-5 m-t-10 m-l-15">الغاء</button>
                                </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>