#Job_Post_List {
    position: absolute;
    left: 1243px;
    top: 149px;
    overflow: visible;
    width: 324px;
    white-space: nowrap;
    text-align: left;
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    color: rgba(255,255,255,1);
}