<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Adminto - Responsive Admin Dashboard Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

       


    </head>

    <body>

         
        <!-- Navigation Bar-->
   <app-school></app-school>
        <!-- End Navigation Bar-->


        <div class="wrapper">
            <div class="container-fluid">

                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        
                        <h4 class="page-title"> صفحة المدرسة </h4>
                    </div>
                </div>
                <div class="col-sm-8">
                        <div class="bg-picture card-box">
                            <div class="profile-info-name">
                                <img src="assets/images/ID18.png"
                                     class="img-thumbnail" alt="profile-image">

                                <div class="profile-info-detail">
                                    <h4 class="m-0">معلومات عن المدرسة </h4>
                                    <label class="col-sm-3 col-form-label"> البريد الالكتروني : </label>
                                    <span class="form-control">{{temp.email}} </span>
                                    <label class="col-sm-3 col-form-label">اسم المدرسة  : </label>
                                    <span class="form-control">منارة العلم  </span>
                                    <label class="col-sm-3 col-form-label"> نوع المدرسة   : </label>
                                    <span class="form-control"  *ngIf="male_school === true && femaleschool=== true ">  إناث  -  ذكور   </span>
                                    
                                    <label class="col-sm-3 col-form-label" > المرحلة التعليمة   : </label>
                                    <span class="form-control" *ngIf ="seconde_school_level=== true && third_level_sturdyLii===true"> إعدادي - ثانوي أدبي    </span>
                                    <span class="form-control" *ngIf ="seconde_school_level=== true && third_level_study_sci===true"> إعدادي - ثانوي علمي    </span>
                                    <hr>
                                    <h4 class="m-0">معلومات التواصل  </h4>
                                    <label class="col-sm-3 col-form-label"> رقم هاتف1   : </label>
                                    <span class="form-control"> ابتدائي    </span>
                                    
                                    <label class="col-sm-3 col-form-label">عنوان المدرسة   : </label>
                                   <p class="col-sm-3 col-form-label"> </p>
                                </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            

    </body>
</html>