
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>intro</title>
		<link rel="stylesheet" href="app.component.css">
	
</head>
<body>

<div id="intro">
	<svg class="Rectangle_1">
		<rect fill="rgba(43,49,61,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_1" rx="0" ry="0" x="0" y="0" width="1920" height="1080">
		</rect>
	</svg>
	<img id="ID7" src="ID7.png" srcset="ID7.png 1x, ID7@2x.png 2x">
	<svg class="Ellipse_3">
		<ellipse fill="rgba(255,255,255,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Ellipse_3" rx="819.5" ry="277" cx="819.5" cy="277">
		</ellipse>
	</svg>
	<svg class="Ellipse_2">
		<ellipse fill="rgba(68,148,139,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Ellipse_2" rx="710.5" ry="266.5" cx="710.5" cy="266.5">
		</ellipse>
	</svg>
	<svg class="Ellipse_1">
		<ellipse fill="rgba(150,88,111,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Ellipse_1" rx="710.5" ry="266.5" cx="710.5" cy="266.5">
		</ellipse>
	</svg>
	<svg class="Rectangle_5">
		<rect fill="rgba(43,49,61,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_5" rx="0" ry="0" x="0" y="0" width="1920" height="110">
		</rect>
	</svg>
	<div routerLink="/sing-in" id="Group_2">
		
        <!--<svg class="Rectangle_3">
			<rect fill="rgba(97,194,183,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_3" rx="10" ry="10" x="0" y="0" width="100" height="42">
			</rect>
        </svg>-->
		<div id="sing_in">
		<a  >sing_in</a>
		</div>
	</div>
	<div routerLink ="/sing-up" id="Group_1">
	
        <!--	<svg class="Rectangle_4">
			<rect fill="transparent" id="Rectangle_4" rx="10" ry="10" x="0" y="0" width="100" height="42">
			</rect>
        </svg>-->
		<div id="sing_up">
			<a >sing_up</a>
		</div>
	</div>
	<div id="Symphonia_School">
		<span>Symphonia School</span>
	</div>
	<svg class="Path_1" viewBox="0 0 923.921 643.796">
		<path fill="rgba(138,149,169,1)" id="Path_1" d="M 461.9605102539063 0 C 717.09423828125 0 923.9210205078125 144.1187438964844 923.9210205078125 321.8981628417969 C 923.9210205078125 499.6776428222656 717.09423828125 643.7963256835938 461.9605102539063 643.7963256835938 C 206.8267517089844 643.7963256835938 0 499.6776428222656 0 321.8981628417969 C 0 144.1187438964844 206.8267517089844 0 461.9605102539063 0 Z">
		</path>
	</svg>
	<div id="Amazing_app_for">
		<span>Amazing app for</span>
	</div>
	<div id="lucky_school">
		<span>lucky school</span>
	</div>
	<div id="Group_3">
		<div id="Symphnia_School_App_for_help_y">
			<span>Symphnia School App for help you to find new employee </span>
		</div>
		<div id="for_your_School">
			<span>for your School</span>
		</div>
	</div>
	<div onclick="application.goToTargetView(event)" id="Group_4">
		<svg class="Rectangle_6">
			<rect fill="rgba(150,88,111,1)" id="Rectangle_6" rx="59" ry="59" x="0" y="0" width="430" height="118">
			</rect>
		</svg>
		<div id="Get_Start">
			<span>Get Start</span>
		</div>
	</div>
</div>
<div>
    <router-outlet></router-outlet>
</div>
</body>
</html>
