<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Adminto - Responsive Admin Dashboard Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    </head>

    <body>

        <!-- Navigation Bar-->
        <header id="topnav">
            <div class="topbar-main">
                <div class="container-fluid">

                    <!-- Logo container-->
                    <div class="logo">
                        <!-- Text Logo -->
                        <!--<a href="index.html" class="logo">-->
                            <!--<span class="logo-small"><i class="mdi mdi-radar"></i></span>-->
                            <!--<span class="logo-large"><i class="mdi mdi-radar"></i> Adminto</span>-->
                        <!--</a>-->
                        <!-- Image Logo -->
                        <!--<a href="index.html" class="logo">
                            <img src="assets/images/logo-sm.png" alt="" height="26" class="logo-small">
                            <img src="assets/images/logo.png" alt="" height="24" class="logo-large">
                        </a>-->
                        <a routerLink ="/">سنفونيا سكول</a>  
                    </div>
                    <!-- End Logo container-->

                  
                    <!-- end menu-extras -->

                    <div class="clearfix"></div>

                </div> <!-- end container -->
            </div>
            <!-- end topbar-main -->

                    </header>
        <!-- End Navigation Bar-->


        <div class="wrapper">
            <div class="container-fluid">

                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                       
                        <h5 class="page-title">إنشاء حساب جديد !! </h5>
                    </div>
                </div>
                <!-- end page title end breadcrumb -->


                <div class="row">
                   
                        
                    <div class="col-xl-6">
                        <div class="card-box">
                            <div class="dropdown pull-right">
                                <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                                    <i class="mdi mdi-dots-vertical"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Action</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Another action</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Something else</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
                                </div>
                            </div>

                            

                            <form
                            (ngSubmit)="onSubmite(f)" #f="ngForm"
                          
                             class="form-horizontal" role="form"
                             data-parsley-validate novalidate>
                             
                                <div class="form-group row">
                                    <label
                                     for="inputEmail3"
                                      class="col-sm-4 col-form-label"
                                     
                                      >بريد الالكتروني : </label>
                                    <div class="col-sm-7">
                                        <input type="email" required parsley-type="email"
                                         class="form-control"
                                         id="inputEmail3" placeholder="البريد اللكتروني "
                                        ngModel 
                                        name="email"
                                        #email="ngModel"
                                      
                                        >
                                        
                                        </div>
                                      
                                  
                                 <span    *ngIf="!email.valid && email.touched" class ="help-block"> يرجى إدخال البريد الالكتروني
                               
                                 </span> 
                                 <span    *ngIf="email.valid && email.touched" class ="help-block"> يرجى إدخال البريد الالكتروني
                                    
                                     </span> 
                                </div>
                                <div class="form-group row">
                                    <label for="hori-pass1" class="col-sm-4 col-form-label">كلمة المرور : </label>
                                    <div class="col-sm-7">
                                        <input id="hori-pass1" type="password" 
                                        placeholder="كلمة المرور " 
                                        required
                                    class="form-control"
                                    ngModel
                                    name ="password"
                                    #password ="ngModel"
                                    >
                                    </div>
                                    <span *ngIf="!password.valid && password.touched" 
                                     class ="help-block"> يرجى إدخال كلمة السر 
                                   
                                    </span>
                                    <span *ngIf="password.valid && password.touched" 
                                    class ="help-block"> 
                                   </span>
                                </div>
                                <div class="form-group row">
                                    <label for="hori-pass2" class="col-sm-4 col-form-label">التأكيد على كلمة المرور 
                                        :  </label>
                                    <div class="col-sm-7">
                                        <input data-parsley-equalto="#hori-pass1" type="password" required
                                               placeholder="التأكيد على كلمة المرور " 
                                               class="form-control"
                                                id="hori-pass2"
                                                ngModel 
                                                name="confirmpassword"
                                                #cp="ngModel"
                                                >
                                    </div>
                                    <span   *ngIf="(cp.value != password.value )  && cp.touched && password.valid && cp.valid" class ="help-block">
                                   <h4>كلمة المرور ليست نفسها
                                         
                                </h4>    
                                                    </span>
                                                    <span *ngIf="!cp.valid && cp.touched" class ="help-block">
                                                        <h5>
                                                                
                                                            يرجى التاأكيد على كلمة المرور  </h5>    
                                                                         </span>
                                     <span *ngIf="(cp.value === password.value )  && cp.touched && password.valid && cp.valid" class ="help-block"><h3>كلمة المرور متطابقة
                                                
                                    </h3>  </span>
                                    <span *ngIf="(cp.value === password.value )  && cp.touched && password.valid && cp.valid" class ="help-block"><h3>
                                                 
                                    </h3>  </span>
                                </div>

                               
                                <div class="form-group">
                                    <div class="offset-sm-4 col-sm-8">
                                        <!--routerLink ="/sing-up"-->
                                        <a routerLink ="/sing-in"> لدي حساب مسبقا</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6">
                                        <h5 class="m-b-5"><b>معلومات حساب المدرسة </b></h5>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">   اسم المدرسة : </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" required
                                               placeholder="اسم المدرسة "
                                               ngModel
                                               name="schoolname"
                                               #schoolname ="ngModel"
                                               />
                                    </div>
                                    <span *ngIf="!schoolname.valid && schoolname.touched" > يرجى إدخال اسم المدرسة
                                              
                                    </span>
                                    <span *ngIf="schoolname.valid && schoolname.touched" >  
                                               
                                    </span>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">نوع المدرسة : </label>
                                    <div class="col-sm-6">
                               
                            <!-- <div class="checkbox checkbox-pink">
                                            <input id="checkbox1" type="checkbox"
                                            checked aria-label="Single checkbox Two"                                   
                                             data-parsley-multiple="groups"
                                                   data-parsley-mincheck="2"
                                                   ngModel
                                                   
                                                   name="maleschooltype"
                                                   #maleschooltype ="ngModel"
                                                  required
                                                   >
                                            <label for="checkbox1"> ذكور </label>
                                  
                                        </div>-->
                                     <div class="checkbox checkbox-pink">
                                                <input id="checkbox1"
                                                 type="checkbox"
                                              required
                                                name ="male"
                                              ngModel
                                                #male_school_type="ngModel"
                                                >
                                                <span *ngIf="!male_school_type.valid && male_school_type.touched " ></span>
                                                <label for="checkbox1">
                                                     ذكور 
                                                </label>
                                          
                                            </div>
                                       
                                        <div class="checkbox checkbox-pink">
                                            <input id="checkbox2" type="checkbox"
                                           
                                                   data-parsley-multiple="groups"
                                                   data-parsley-mincheck="2"
                                                  required
                                               ngModel 
                                                   name="femal_school_type"
                                                   #femal_school_type ="ngModel">
                                            <label for="checkbox2"> إناث  </label>
                                        </div>
                                        <!--  <div class="checkbox checkbox-pink">
                                            <input id="checkbox3" type="checkbox"
                                                   data-parsley-multiple="groups"
                                                   data-parsley-mincheck="2" 
                                                   ngModel
                                                required
                                                   name="male_and_femal_school_type"
                                                   #male_and_femal_school_type ="ngModel">
                                                   
                                            <label for="checkbox3"> مختلطة </label>
                                        </div>-->
                                      
                       
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">المرحلة التعليمة : </label>
                                    <div class="col-sm-6">
                                        <div class="checkbox checkbox-pink">
                                            <input id="checkbox4" type="checkbox"
                                                   data-parsley-multiple="group1"
                                                   ngModel
                                                 required
                                                   name="frist_study_level"
                                                   #frist_study_level ="ngModel"
                                                   >
                                            <label for="checkbox4"> ابتدائي  </label>
                                        </div>
                                        <div class="checkbox checkbox-pink">
                                            <input id="checkbox5" type="checkbox"
                                                   data-parsley-multiple="group1"
                                                   ngModel
                                                  required
                                                   name="seconde_study_level"
                                                   #seconde_study_level ="ngModel"
                                                   >
                                            <label for="checkbox5"> إعدادي </label>
                                        </div>
                                        <div class="checkbox checkbox-pink">
                                            <input id="checkbox6" type="checkbox"
                                                   data-parsley-multiple="group1"
                                                   data-parsley-maxcheck="1"
                                                  required
                                                   ngModel
                                                   name="third_school_level_litt"
                                                   #third_school_level="ngModel"
                                                   >
                                            <label for="checkbox6"> ثانوي - أدبي  </label>
                                        </div>
                                        <div class="checkbox checkbox-pink">
                                                <input id="checkbox7" type="checkbox"
                                                       data-parsley-multiple="group1"
                                                       data-parsley-maxcheck="1"
                                                       ngModel
                                                    required
                                                       name="third_school_level_SCi"
                                                       #third_school_level_litt="ngModel"
                                                       >
                                                <label for="checkbox7"> ثانوي - علمي   </label>
                                            </div>
                                            <!--   <div class="checkbox checkbox-pink">
                                                    <input id="checkbox8" type="checkbox"
                                                           data-parsley-multiple="group1"
                                                           data-parsley-maxcheck="1"
                                                           ngModel
                                                           required
                                                           name="third_school_level_SCi_litt"
                                                           #third_school_level_SCi="ngModel"
                                                           >
                                                    <label for="checkbox8"> ثانوي - أدبي و علمي  </label>
                                                </div>-->
                                         
                                                <!-- <div class="checkbox checkbox-pink">
                                                        <input id="checkbox9" type="checkbox"
                                                               data-parsley-multiple="group1"
                                                               data-parsley-maxcheck="1"
                                                               ngModel
                                                               name="all"
                                                               required
                                                               #third_school_level_SCi_ltt="ngModel"
                                                               >
                                                        <label for="checkbox9"> كافة المراحل    </label>
                                                    </div>-->
                                               
                                    </div>
                                </div>
                                <div class="row">
        
                                    <div class="col-xl-6" >
                                        <h5 class="m-b-5"><b>معلومات حساب المدرسة </b></h5>
                                        </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">رقم الهاتف : </label>
                                    <div class="col-sm-6">
                                        <input type="text " class="form-control" required
                                               data-parsley-minlength="6" placeholder="011..."
                                               ngModel 
                                               required
                                               name ="schooltelephone"
                                               #telephonenumber="ngModel"

                                               />
                                    </div>
                                    <span *ngIf="!telephonenumber.valid && telephonenumber.touched  ">
                                           
                                        يرجى إخال رقم الهاتف </span>
                                   
                                </div>
                                <div class="form-group row">
                                    <!-- <label class="col-sm-3 col-form-label">رقم الهاتف : </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" required
                                               data-parsley-maxlength="6" placeholder="011...."
                                               ngModel
                                               required
                                               name="schooltelephone2"
                                               #schoolnumber2="ngModel"
                                               />
                                    </div> -->
                                    <!-- <span *ngIf="!schoolnumber2.valid &&schoolnumber2.touched">
                                           
                                            يرجىى إخال رقم الهاتف </span>
                                        <span *ngIf="schoolnumber2.valid &&schoolnumber2.touched">
                                             
                                            </span> -->
                                </div>
                                <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">عنوان المدرسة : </label>
                                        <div class="col-sm-6">
                                            <textarea required class="form-control"
                                            placeholder="عنوان المدرسة "
                                            ngModel
                                            required
                                            name="schooladdress"
                                            #schooladdress="ngModel"
                                            ></textarea>
                                        </div>
                                        <span *ngIf=" !schooladdress.valid &&  schooladdress.touched">
                                               
                                            يرجى إخال عنوان المدرسة </span>
                                            <span *ngIf=" schooladdress.valid &&  schooladdress.touched">
                                                        
                                                
                                                </span>
                                    </div>
                                <div class="form-group row m-b-0">
                                    <div class="offset-sm-3 col-sm-9 m-t-15"
                                   
                                    >
                             
                                        <button type="submit" 
                                        class="btn btn-primary waves-effect waves-light"
                                       
                                    
                                        >
                                           التأكد من معلومات الإدخال 
                                        </button>
                                        <button type="reset" class="btn btn-secondary waves-effect m-l-5">
                                            إلغاء !
                                            
                                        </button>
                                      
                                       
                                    <button type="button" 
                                    class="btn btn-secondary waves-effect m-l-5"
                                    [disabled]="!check_the_value"
                                   (click)="sending_data()"
                                  
                                  
                                    >
                                        إنشاء حساب جديد  !
                                      
                                    </button>
                                    
                                  
                                    
                                </div>
                               
                               
                                </div> 
                            </form>
                        </div>
                    </div><!-- end col -->
             
                        

                    
                </div>
                <!-- end row -->

                
                <!-- end row -->


            </div> <!-- end container -->


            <!-- Right Sidebar -->
            <div class="side-bar right-bar">
                <a href="javascript:void(0);" class="right-bar-toggle">
                    <i class="mdi mdi-close-circle-outline"></i>
                </a>
                <h4 class="">Notifications</h4>
                <div class="notification-list nicescroll">
                    <ul class="list-group list-no-border user-list">
                        <li class="list-group-item">
                            <a href="#" class="user-list-item">
                                <div class="avatar">
                                    <img src="assets/images/users/avatar-2.jpg" alt="">
                                </div>
                                <div class="user-desc">
                                    <span class="name">Michael Zenaty</span>
                                    <span class="desc">There are new settings available</span>
                                    <span class="time">2 hours ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="user-list-item">
                                <div class="icon bg-info">
                                    <i class="mdi mdi-account"></i>
                                </div>
                                <div class="user-desc">
                                    <span class="name">New Signup</span>
                                    <span class="desc">There are new settings available</span>
                                    <span class="time">5 hours ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="user-list-item">
                                <div class="icon bg-pink">
                                    <i class="mdi mdi-comment"></i>
                                </div>
                                <div class="user-desc">
                                    <span class="name">New Message received</span>
                                    <span class="desc">There are new settings available</span>
                                    <span class="time">1 day ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item active">
                            <a href="#" class="user-list-item">
                                <div class="avatar">
                                    <img src="assets/images/users/avatar-3.jpg" alt="">
                                </div>
                                <div class="user-desc">
                                    <span class="name">James Anderson</span>
                                    <span class="desc">There are new settings available</span>
                                    <span class="time">2 days ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item active">
                            <a href="#" class="user-list-item">
                                <div class="icon bg-warning">
                                    <i class="mdi mdi-settings"></i>
                                </div>
                                <div class="user-desc">
                                    <span class="name">Settings</span>
                                    <span class="desc">There are new settings available</span>
                                    <span class="time">1 day ago</span>
                                </div>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <!-- /Right-bar -->

        </div>
        <!-- end wrapper -->


        <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        2016 - 2018 © Adminto. Coderthemes.com
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer -->




    </body>
</html>