

    
    <div class="account-pages"></div>
    <div class="clearfix"></div>
    <div class="wrapper-page">
      <div class="text-center">
        <a href="index.html" class="logo"><span>سينفونيا</span></a>
        <h5 class="text-muted mt-0 font-600">دليل المدارس و المعلمين</h5>
      </div>
      <div class="m-t-40 card-box">
        <div class="text-center">
          <h4 class="text-uppercase font-bold mb-0">تسجيل الدخول الى سينفونيا</h4>
        </div>
        <div class="p-20">
          <form 
          (ngSubmit)="onSubmit(f)" #f="ngForm"
          class="form-horizontal m-t-20" action="index.html">
            
            <div class="form-group">
              <div class="col-xs-12">
                <input class="form-control" type="email"
                 required=""
                 placeholder="اسم المستخدم"
                 ngModel 
                name="email"
                #email="ngModel"
                 >
              </div>
             <span  *ngIf="!email.valid && email.touched" class ="help-block" > يرجى إدخال البريد الالكتروني</span>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <input class="form-control" type="password"
                 required=""
                  placeholder="كلمة السر"
                  ngModel
                  name="password"
                  #password ="ngModel"
                  >
              </div>
              <span *ngIf="!password.valid && password.touched"> يرجى إدخال كلمة السر  </span>
            </div>
            
            <div class="form-group ">
              <div class="col-xs-12">
                          <div class="checkbox checkbox-custom">
                            <input id="checkbox-signup" type="checkbox">
                            <label for="checkbox-signup">
                              تذكر الحساب الخاص بي
                            </label>
                          </div>

                        </div>
                      </div>
                      
                      <div class="form-group text-center m-t-30">
                      <div class="col-xs-12">
                        <button class="btn btn-custom btn-bordred btn-block waves-effect waves-light"
                         type="submit"
                         [disabled]="!f.valid"
                         >Log In</button>
                      </div>
                  
                    </div>
                    
                    <div class="form-group m-t-30 mb-0">
                      <div class="col-sm-12">
                        <a href="page-recoverpw.html" class="text-muted"><i class="fa fa-lock m-r-5"></i> نسيت كلمة المرور ؟</a>
                      </div>
                    </div>
                  </form>
                  
                </div>
      </div>
      <!-- end card-box-->
      
      <div class="row">
        <div class="col-sm-12 text-center">
          <p class="text-muted"> هل تملك حساب مسجل مسبقا ؟ <a href="page-register.html" class="text-primary m-l-5"><b>انشاء حساب</b></a></p>
        </div>
      </div>
      
    </div>
  
