.mediaViewInfo {
    --web-view-name: Home Page;
    --web-view-id: Home_Page;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: Home_Page;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#Home_Page {
    position: relative;
    width: 2700px;
    height: 1250px;
    background-color: rgba(255,255,255,1);
    overflow: visible;
    --web-view-name: Home Page;
    --web-view-id: Home_Page;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
@keyframes fadein {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}
#Rectangle_5 {
    opacity: 0.76;
}

.Rectangle_5 {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 1050px;
    height: 128px;
    top: 0px;
}
#Rectangle_554 {
    opacity: 0.96;
}
.Rectangle_554 {
    filter: drop-shadow(5px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
     width: 1050px;
    height: 161px;
    left: 888px;
    top: 110px;
}
#Job_Post_List {
    position: absolute;
    left: 1243px;
    top: 149px;
    overflow: visible;
    width: 324px;
    white-space: nowrap;
    text-align: left;
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    color: rgba(255,255,255,1);
}
.Rectangle_557 {
    position: absolute;
    overflow: visible;
    width: 30px;
    height: 919px;
    left: 1890px;
    top: 270px;
}
.Rectangle_558 {
    position: absolute;
    overflow: visible;
    width: 30px;
    height: 701px;
    left: 1890px;
    top: 253px;
}
#Rectangle_559 {
    opacity: 0.92;
}
.Rectangle_559 {
    scroll-behavior: smooth;
    position: absolute;
    overflow: visible;
    width: 1002px;
    height: 946px;
    left: 888px;
    top: 253px;
}
#Repeat_Grid_3 {
   
    position: absolute;
    width: 5000px;
    height: 1020px;
    left: 888px;
    top: 253px;
    overflow: hidden;
}
#Repeat_Grid_3_0 {
    position: absolute;
    width: 1002px;
    height: 239px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_560 {
    opacity: 0.96;
}
.Rectangle_560 {
    position: absolute;
    overflow: visible;
    width: 1002px;
    height: 239px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_2 {
    position: absolute;
    width: 961px;
    height: 224px;
    left: 23px;
    top: 8px;
    overflow: hidden;
}
#Repeat_Grid_2_0 {
    position: absolute;
    width: 960px;
    height: 78px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#we_want_a_math_teacher__ {
    position: absolute;
    left: 0px;
    top: 34px;
    overflow: visible;
    width: 388px;
    white-space: nowrap;
    text-align: left;
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: rgba(14,14,15,1);
}
#delete {
    position: absolute;
    left: 907px;
    top: 2px;
    overflow: visible;
    width: 54px;
    white-space: nowrap;
    text-align: left;
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(235,29,29,1);
}
#edit {
    position: absolute;
    left: 844px;
    top: 2px;
    overflow: visible;
    width: 35px;
    white-space: nowrap;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: Edit_post_page.html;
    cursor: pointer;
    text-align: left;
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(35,35,181,1);
}
#ID2___1__2020 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 61px;
    white-space: nowrap;
    text-align: left;
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(78,78,83,1);
}
#Group_33 {
    position: absolute;
    width: 920px;
    height: 133px;
    left: 23px;
    top: 100px;
    overflow: visible;
}
.Rectangle_562 {
    position: absolute;
    overflow: visible;
    width: 132px;
    height: 45px;
    left: 0px;
    top: 0px;
}
#Group_32 {
    position: absolute;
    width: 920px;
    height: 133px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#full_time_ {
    position: absolute;
    left: 12px;
    top: 4px;
    overflow: visible;
    width: 121px;
    white-space: nowrap;
    text-align: left;
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(14,14,15,1);
}
#Group_27 {
    position: absolute;
    width: 238px;
    height: 45px;
    left: 182px;
    top: 0px;
    overflow: visible;
}
.Rectangle_563 {
    position: absolute;
    overflow: visible;
    width: 238px;
    height: 45px;
    left: 0px;
    top: 0px;
}
#math_high_school {
    position: absolute;
    left: 3px;
    top: 4px;
    overflow: visible;
    width: 233px;
    white-space: nowrap;
    text-align: left;
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(14,14,15,1);
}
#Group_30 {
    position: absolute;
    width: 276px;
    height: 45px;
    left: 451px;
    top: 0px;
    overflow: visible;
}
.Rectangle_564 {
    position: absolute;
    overflow: visible;
    width: 249px;
    height: 45px;
    left: 0px;
    top: 0px;
}
#Experience_5_year_____ {
    position: absolute;
    left: 4px;
    top: 0px;
    overflow: visible;
    width: 273px;
    white-space: nowrap;
    text-align: left;
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(14,14,15,1);
}
#Group_28 {
    position: absolute;
    width: 197px;
    height: 74px;
    left: 0px;
    top: 59px;
    overflow: visible;
}
.Rectangle_565 {
    position: absolute;
    overflow: visible;
    width: 197px;
    height: 45px;
    left: 0px;
    top: 0px;
}
#student___male_ {
    position: absolute;
    left: 5px;
    top: 0px;
    overflow: visible;
    width: 189px;
    white-space: nowrap;
    text-align: left;
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(14,14,15,1);
}
#Group_29 {
    position: absolute;
    width: 117px;
    height: 45px;
    left: 224px;
    top: 59px;
    overflow: visible;
}
.Rectangle_566 {
    position: absolute;
    overflow: visible;
    width: 117px;
    height: 45px;
    left: 0px;
    top: 0px;
}
#teacher_ {
    position: absolute;
    left: 9px;
    top: 2px;
    overflow: visible;
    width: 105px;
    white-space: nowrap;
    text-align: left;
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(14,14,15,1);
}
#Group_31 {
    position: absolute;
    width: 191px;
    height: 45px;
    left: 371px;
    top: 59px;
    overflow: visible;
}
.Rectangle_567 {
    position: absolute;
    overflow: visible;
    width: 189px;
    height: 45px;
    left: 0px;
    top: 0px;
}
#gender___male_ {
    position: absolute;
    left: 3px;
    top: 0px;
    overflow: visible;
    width: 189px;
    white-space: nowrap;
    text-align: left;
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(14,14,15,1);
}
.Rectangle_568 {
    position: absolute;
    overflow: visible;
    width: 329px;
    height: 45px;
    left: 591px;
    top: 60px;
}
#location__near_fir_station_ {
    position: absolute;
    left: 598px;
    top: 64px;
    overflow: visible;
    width: 323px;
    white-space: nowrap;
    text-align: left;
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(14,14,15,1);
}
#Repeat_Grid_3_1 {
    position: absolute;
    width: 1002px;
    height: 239px;
    left: 0px;
    top: 259px;
    overflow: visible;
}
#Rectangle_560_cn {
    opacity: 0.96;
}
.Rectangle_560_cn {
    position: absolute;
    overflow: visible;
    width: 1002px;
    height: 239px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_2_co {
    position: absolute;
    width: 961px;
    height: 224px;
    left: 23px;
    top: 8px;
    overflow: hidden;
}
#Repeat_Grid_2_co_0 {
    position: absolute;
    width: 960px;
    height: 78px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#we_want_a_math_teacher___cq {
    position: absolute;
    left: 0px;
    top: 34px;
    overflow: visible;
    width: 388px;
    white-space: nowrap;
    text-align: left;
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: rgba(14,14,15,1);
}
#delete_cr {
    position: absolute;
    left: 907px;
    top: 2px;
    overflow: visible;
    width: 54px;
    white-space: nowrap;
    text-align: left;
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(235,29,29,1);
}
#edit_cs {
    position: absolute;
    left: 844px;
    top: 2px;
    overflow: visible;
    width: 35px;
    white-space: nowrap;
    text-align: left;
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(35,35,181,1);
}
#ID2___1__2020_ct {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 61px;
    white-space: nowrap;
    text-align: left;
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(78,78,83,1);
}
#Group_33_cu {
    position: absolute;
    width: 920px;
    height: 133px;
    left: 23px;
    top: 100px;
    overflow: visible;
}
.Rectangle_562_cv {
    position: absolute;
    overflow: visible;
    width: 132px;
    height: 45px;
    left: 0px;
    top: 0px;
}
#Group_32_cw {
    position: absolute;
    width: 920px;
    height: 133px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#full_time__cx {
    position: absolute;
    left: 12px;
    top: 4px;
    overflow: visible;
    width: 121px;
    white-space: nowrap;
    text-align: left;
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(14,14,15,1);
}
#Group_27_cy {
    position: absolute;
    width: 238px;
    height: 45px;
    left: 182px;
    top: 0px;
    overflow: visible;
}
.Rectangle_563_cz {
    position: absolute;
    overflow: visible;
    width: 238px;
    height: 45px;
    left: 0px;
    top: 0px;
}
#math_high_school_c {
    position: absolute;
    left: 3px;
    top: 4px;
    overflow: visible;
    width: 233px;
    white-space: nowrap;
    text-align: left;
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(14,14,15,1);
}
#Group_30_c {
    position: absolute;
    width: 276px;
    height: 45px;
    left: 451px;
    top: 0px;
    overflow: visible;
}
.Rectangle_564_c {
    position: absolute;
    overflow: visible;
    width: 249px;
    height: 45px;
    left: 0px;
    top: 0px;
}
#Experience_5_year______c {
    position: absolute;
    left: 4px;
    top: 0px;
    overflow: visible;
    width: 273px;
    white-space: nowrap;
    text-align: left;
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(14,14,15,1);
}
#Group_28_c {
    position: absolute;
    width: 197px;
    height: 74px;
    left: 0px;
    top: 59px;
    overflow: visible;
}
.Rectangle_565_c {
    position: absolute;
    overflow: visible;
    width: 197px;
    height: 45px;
    left: 0px;
    top: 0px;
}
#student___male__c {
    position: absolute;
    left: 5px;
    top: 0px;
    overflow: visible;
    width: 189px;
    white-space: nowrap;
    text-align: left;
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(14,14,15,1);
}
#Group_29_c {
    position: absolute;
    width: 117px;
    height: 45px;
    left: 224px;
    top: 59px;
    overflow: visible;
}
.Rectangle_566_c {
    position: absolute;
    overflow: visible;
    width: 117px;
    height: 45px;
    left: 0px;
    top: 0px;
}
#teacher__c {
    position: absolute;
    left: 9px;
    top: 2px;
    overflow: visible;
    width: 105px;
    white-space: nowrap;
    text-align: left;
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(14,14,15,1);
}
#Group_31_da {
    position: absolute;
    width: 191px;
    height: 45px;
    left: 371px;
    top: 59px;
    overflow: visible;
}
.Rectangle_567_db {
    position: absolute;
    overflow: visible;
    width: 189px;
    height: 45px;
    left: 0px;
    top: 0px;
}
#gender___male__dc {
    position: absolute;
    left: 3px;
    top: 0px;
    overflow: visible;
    width: 189px;
    white-space: nowrap;
    text-align: left;
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(14,14,15,1);
}
.Rectangle_568_dd {
    position: absolute;
    overflow: visible;
    width: 329px;
    height: 45px;
    left: 591px;
    top: 60px;
}
#location__near_fir_station__de {
    position: absolute;
    left: 598px;
    top: 64px;
    overflow: visible;
    width: 323px;
    white-space: nowrap;
    text-align: left;
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(14,14,15,1);
}
#Repeat_Grid_3_2 {
    position: absolute;
    width: 1002px;
    height: 239px;
    left: 0px;
    top: 518px;
    overflow: visible;
}
#Rectangle_560_dg {
    opacity: 0.96;
}
.Rectangle_560_dg {
    position: absolute;
    overflow: visible;
    width: 1002px;
    height: 239px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_2_dh {
    position: absolute;
    width: 961px;
    height: 224px;
    left: 23px;
    top: 8px;
    overflow: hidden;
}
#Repeat_Grid_2_dh_0 {
    position: absolute;
    width: 960px;
    height: 78px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#we_want_a_math_teacher___dj {
    position: absolute;
    left: 0px;
    top: 34px;
    overflow: visible;
    width: 388px;
    white-space: nowrap;
    text-align: left;
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: rgba(14,14,15,1);
}
#delete_dk {
    position: absolute;
    left: 907px;
    top: 2px;
    overflow: visible;
    width: 54px;
    white-space: nowrap;
    text-align: left;
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(235,29,29,1);
}
#edit_dl {
    position: absolute;
    left: 844px;
    top: 2px;
    overflow: visible;
    width: 35px;
    white-space: nowrap;
    text-align: left;
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(35,35,181,1);
}
#ID2___1__2020_dm {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 61px;
    white-space: nowrap;
    text-align: left;
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(78,78,83,1);
}
#Group_33_dn {
    position: absolute;
    width: 920px;
    height: 133px;
    left: 23px;
    top: 100px;
    overflow: visible;
}
.Rectangle_562_do {
    position: absolute;
    overflow: visible;
    width: 132px;
    height: 45px;
    left: 0px;
    top: 0px;
}
#Group_32_dp {
    position: absolute;
    width: 920px;
    height: 133px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#full_time__dq {
    position: absolute;
    left: 12px;
    top: 4px;
    overflow: visible;
    width: 121px;
    white-space: nowrap;
    text-align: left;
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(14,14,15,1);
}
#Group_27_dr {
    position: absolute;
    width: 238px;
    height: 45px;
    left: 182px;
    top: 0px;
    overflow: visible;
}
.Rectangle_563_ds {
    position: absolute;
    overflow: visible;
    width: 238px;
    height: 45px;
    left: 0px;
    top: 0px;
}
#math_high_school_dt {
    position: absolute;
    left: 3px;
    top: 4px;
    overflow: visible;
    width: 233px;
    white-space: nowrap;
    text-align: left;
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(14,14,15,1);
}
#Group_30_du {
    position: absolute;
    width: 276px;
    height: 45px;
    left: 451px;
    top: 0px;
    overflow: visible;
}
.Rectangle_564_dv {
    position: absolute;
    overflow: visible;
    width: 249px;
    height: 45px;
    left: 0px;
    top: 0px;
}
#Experience_5_year______dw {
    position: absolute;
    left: 4px;
    top: 0px;
    overflow: visible;
    width: 273px;
    white-space: nowrap;
    text-align: left;
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(14,14,15,1);
}
#Group_28_dx {
    position: absolute;
    width: 197px;
    height: 74px;
    left: 0px;
    top: 59px;
    overflow: visible;
}
.Rectangle_565_dy {
    position: absolute;
    overflow: visible;
    width: 197px;
    height: 45px;
    left: 0px;
    top: 0px;
}
#student___male__dz {
    position: absolute;
    left: 5px;
    top: 0px;
    overflow: visible;
    width: 189px;
    white-space: nowrap;
    text-align: left;
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(14,14,15,1);
}
#Group_29_d {
    position: absolute;
    width: 117px;
    height: 45px;
    left: 224px;
    top: 59px;
    overflow: visible;
}
.Rectangle_566_d {
    position: absolute;
    overflow: visible;
    width: 117px;
    height: 45px;
    left: 0px;
    top: 0px;
}
#teacher__d {
    position: absolute;
    left: 9px;
    top: 2px;
    overflow: visible;
    width: 105px;
    white-space: nowrap;
    text-align: left;
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(14,14,15,1);
}
#Group_31_d {
    position: absolute;
    width: 191px;
    height: 45px;
    left: 371px;
    top: 59px;
    overflow: visible;
}
.Rectangle_567_d {
    position: absolute;
    overflow: visible;
    width: 189px;
    height: 45px;
    left: 0px;
    top: 0px;
}
#gender___male__d {
    position: absolute;
    left: 3px;
    top: 0px;
    overflow: visible;
    width: 189px;
    white-space: nowrap;
    text-align: left;
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(14,14,15,1);
}
.Rectangle_568_d {
    position: absolute;
    overflow: visible;
    width: 329px;
    height: 45px;
    left: 591px;
    top: 60px;
}
#location__near_fir_station__d {
    position: absolute;
    left: 598px;
    top: 64px;
    overflow: visible;
    width: 323px;
    white-space: nowrap;
    text-align: left;
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(14,14,15,1);
}
#Repeat_Grid_3_3 {
    position: absolute;
    width: 1002px;
    height: 239px;
    left: 0px;
    top: 777px;
    overflow: visible;
}
#Rectangle_560_d {
    opacity: 0.96;
}
.Rectangle_560_d {
    position: absolute;
    overflow: visible;
    width: 1002px;
    height: 239px;
    left: 0px;
    top: 0px;
}
#Repeat_Grid_2_ea {
    position: absolute;
    width: 961px;
    height: 224px;
    left: 23px;
    top: 8px;
    overflow: hidden;
}
#Repeat_Grid_2_ea_0 {
    position: absolute;
    width: 960px;
    height: 78px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#we_want_a_math_teacher___ec {
    position: absolute;
    left: 0px;
    top: 34px;
    overflow: visible;
    width: 388px;
    white-space: nowrap;
    text-align: left;
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: rgba(14,14,15,1);
}
#delete_ed {
    position: absolute;
    left: 907px;
    top: 2px;
    overflow: visible;
    width: 54px;
    white-space: nowrap;
    text-align: left;
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(235,29,29,1);
}
#edit_ee {
    position: absolute;
    left: 844px;
    top: 2px;
    overflow: visible;
    width: 35px;
    white-space: nowrap;
    text-align: left;
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(35,35,181,1);
}
#ID2___1__2020_ef {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 61px;
    white-space: nowrap;
    text-align: left;
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(78,78,83,1);
}
#Group_33_eg {
    position: absolute;
    width: 920px;
    height: 133px;
    left: 23px;
    top: 100px;
    overflow: visible;
}
.Rectangle_562_eh {
    position: absolute;
    overflow: visible;
    width: 132px;
    height: 45px;
    left: 0px;
    top: 0px;
}
#Group_32_ei {
    position: absolute;
    width: 920px;
    height: 133px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#full_time__ej {
    position: absolute;
    left: 12px;
    top: 4px;
    overflow: visible;
    width: 121px;
    white-space: nowrap;
    text-align: left;
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(14,14,15,1);
}
#Group_27_ek {
    position: absolute;
    width: 238px;
    height: 45px;
    left: 182px;
    top: 0px;
    overflow: visible;
}
.Rectangle_563_el {
    position: absolute;
    overflow: visible;
    width: 238px;
    height: 45px;
    left: 0px;
    top: 0px;
}
#math_high_school_em {
    position: absolute;
    left: 3px;
    top: 4px;
    overflow: visible;
    width: 233px;
    white-space: nowrap;
    text-align: left;
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(14,14,15,1);
}
#Group_30_en {
    position: absolute;
    width: 276px;
    height: 45px;
    left: 451px;
    top: 0px;
    overflow: visible;
}
.Rectangle_564_eo {
    position: absolute;
    overflow: visible;
    width: 249px;
    height: 45px;
    left: 0px;
    top: 0px;
}
#Experience_5_year______ep {
    position: absolute;
    left: 4px;
    top: 0px;
    overflow: visible;
    width: 273px;
    white-space: nowrap;
    text-align: left;
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(14,14,15,1);
}
#Group_28_eq {
    position: absolute;
    width: 197px;
    height: 74px;
    left: 0px;
    top: 59px;
    overflow: visible;
}
.Rectangle_565_er {
    position: absolute;
    overflow: visible;
    width: 197px;
    height: 45px;
    left: 0px;
    top: 0px;
}
#student___male__es {
    position: absolute;
    left: 5px;
    top: 0px;
    overflow: visible;
    width: 189px;
    white-space: nowrap;
    text-align: left;
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(14,14,15,1);
}
#Group_29_et {
    position: absolute;
    width: 117px;
    height: 45px;
    left: 224px;
    top: 59px;
    overflow: visible;
}
.Rectangle_566_eu {
    position: absolute;
    overflow: visible;
    width: 117px;
    height: 45px;
    left: 0px;
    top: 0px;
}
#teacher__ev {
    position: absolute;
    left: 9px;
    top: 2px;
    overflow: visible;
    width: 105px;
    white-space: nowrap;
    text-align: left;
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(14,14,15,1);
}
#Group_31_ew {
    position: absolute;
    width: 191px;
    height: 45px;
    left: 371px;
    top: 59px;
    overflow: visible;
}
.Rectangle_567_ex {
    position: absolute;
    overflow: visible;
    width: 189px;
    height: 45px;
    left: 0px;
    top: 0px;
}
#gender___male__ey {
    position: absolute;
    left: 3px;
    top: 0px;
    overflow: visible;
    width: 189px;
    white-space: nowrap;
    text-align: left;
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(14,14,15,1);
}
.Rectangle_568_ez {
    position: absolute;
    overflow: visible;
    width: 329px;
    height: 45px;
    left: 591px;
    top: 60px;
}
#location__near_fir_station__e {
    position: absolute;
    left: 598px;
    top: 64px;
    overflow: visible;
    width: 323px;
    white-space: nowrap;
    text-align: left;
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(14,14,15,1);
}
#Group_75 {
    position: absolute;
    width: 510px;
    height: 733px;
    left: 347px;
    top: 191px;
    overflow: visible;
}
#Group_15 {
    position: absolute;
    width: 432px;
    height: 432px;
    left: 39px;
    top: 203px;
    overflow: visible;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: Creating_Post_Page.html;
    cursor: pointer;
}
.Ellipse_5 {
    position: absolute;
    overflow: visible;
    width: 432px;
    height: 432px;
    left: 0px;
    top: 0px;
}
#Group_14 {
    position: absolute;
    width: 247px;
    height: 247px;
    left: 93px;
    top: 93px;
    overflow: visible;
}
.Ellipse_7 {
    position: absolute;
    overflow: visible;
    width: 247px;
    height: 247px;
    left: 0px;
    top: 0px;
}
.Ellipse_6 {
    position: absolute;
    overflow: visible;
    width: 175px;
    height: 175px;
    left: 36px;
    top: 36px;
}
.Union_1 {
    overflow: visible;
    position: absolute;
    width: 113px;
    height: 113px;
    left: 160px;
    top: 160px;
    transform: matrix(1,0,0,1,0,0);
}
#Create_New_Job_Post {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 511px;
    white-space: nowrap;
    text-align: left;
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    color: rgba(14,14,15,1);
}
#hand_finger_click {
    position: absolute;
    width: 123px;
    height: 123px;
    left: 193.688px;
    top: 77.426px;
    overflow: visible;
}
#Group_19 {
    position: absolute;
    width: 292px;
    height: 81px;
    left: 109px;
    top: 652px;
    overflow: visible;
}
#create_your_post_help_you_to_f {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 290px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(67,61,61,1);
}
#good_employee_under_your_offer {
    position: absolute;
    left: 3px;
    top: 27px;
    overflow: visible;
    width: 290px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(67,61,61,1);
}
#Group_18 {
    position: absolute;
    width: 229px;
    height: 27px;
    left: 36px;
    top: 54px;
    overflow: visible;
}
#in_the_Symphnia_platform_ {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 230px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(67,61,61,1);
}
.Rectangle_34 {
    position: absolute;
    overflow: visible;
    width: 300px;
    height: 80px;
    left: 1605px;
    top: 149px;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: Filtering_Page.html;
    cursor: pointer;
}
#filtering_post_ {
    position: absolute;
    left: 1627px;
    top: 158px;
    overflow: visible;
    width: 170px;
    white-space: nowrap;
    text-align: left;
    font-family: Bold Art;
    font-style: italic;
    font-weight: normal;
    font-size: 30px;
    color: rgba(64,56,56,1);
}
.ID13432916241537184103 {
    overflow: visible;
    position: absolute;
    width: 35.865px;
    height: 36.208px;
    left: 1851.677px;
    top: 176px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_52 {
    position: absolute;
    width: 1920px;
    height: 110px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_5 {
    opacity: 0.76;
}
.Path_5 {
   /* filter: drop-shadow(0px 3px 6px rgba(43,49,61,1));*/
    overflow: visible;
    position: absolute;
    width: 1938px;
    height: 128px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Symphonia_School {
    position: absolute;
    left: 378px;
    top: 41px;
    overflow: visible;
    width: 200px;
    white-space: nowrap;
    text-align: left;
    font-family: Bauhaus 93;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(243,234,234,1);
}
#Group_2 {
    position: absolute;
    width: 89px;
    height: 42px;
    left: 838px;
    top: 34px;
    overflow: visible;
}
.Rectangle_573 {
    position: absolute;
    overflow: visible;
    width: 89px;
    height: 42px;
    left: 0px;
    top: 0px;
}
.Rectangle_3 {
    position: absolute;
    overflow: visible;
    width: 72px;
    height: 42px;
    left: 8px;
    top: 0px;
}
#home {
    position: absolute;
    left: 17.645px;
    top: 6px;
    overflow: visible;
    width: 52px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(243,234,234,1);
}
#Group_1 {
    position: absolute;
    width: 100px;
    height: 42px;
    left: 933px;
    top: 34px;
    overflow: visible;
}
.Rectangle_4 {
    position: absolute;
    overflow: visible;
    width: 100px;
    height: 42px;
    left: 0px;
    top: 0px;
}
#Sing_out {
    position: absolute;
    left: 16.528px;
    top: 6px;
    overflow: visible;
    width: 75px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(243,234,234,1);
}
#Group_17 {
    position: absolute;
    width: 100px;
    height: 42px;
    left: 1033px;
    top: 34px;
    overflow: visible;
}
.Rectangle_4_ft {
    position: absolute;
    overflow: visible;
    width: 100px;
    height: 42px;
    left: 0px;
    top: 0px;
}
#about {
    position: absolute;
    left: 34.528px;
    top: 6px;
    overflow: visible;
    width: 53px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(243,234,234,1);
}
#Component_7___13 {
    position: absolute;
    width: 246px;
    height: 209px;
    left: 1674px;
    top: 19px;
    overflow: visible;
}
#Group_467 {
    opacity: 0;
    position: absolute;
    width: 246px;
    height: 119px;
    left: 0px;
    top: 90px;
    overflow: visible;
}
.Rectangle_1537 {
    position: absolute;
    overflow: visible;
    width: 246px;
    height: 119px;
    left: 0px;
    top: 0px;
}
#X_School {
    position: absolute;
    left: 70px;
    top: 9px;
    overflow: visible;
    width: 82px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
.Rectangle_1538 {
    position: absolute;
    overflow: visible;
    width: 191px;
    height: 50px;
    left: 15px;
    top: 50px;
}
#Go_To_Profile {
    position: absolute;
    left: 49px;
    top: 64px;
    overflow: visible;
    width: 124px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(0,0,0,1);
}
#Group_469 {
    position: absolute;
    width: 152.5px;
    height: 85px;
    left: 66px;
    top: 0px;
    overflow: visible;
}
#ID18 {
    position: absolute;
    width: 85px;
    height: 85px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Ellipse_14 {
    position: absolute;
    overflow: visible;
    width: 10px;
    height: 10px;
    left: 87px;
    top: 75px;
}
#Group_466 {
    position: absolute;
    width: 24px;
    height: 12.866px;
    left: 128.5px;
    top: 42.5px;
    overflow: visible;
}
.Line_10 {
    overflow: visible;
    position: absolute;
    width: 17.653px;
    height: 18.52px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
.Line_13 {
    overflow: visible;
    position: absolute;
    width: 17.653px;
    height: 18.52px;
    left: 12px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_481 {
    position: absolute;
    width: 332px;
    height: 1089px;
    left: 0px;
    top: 110px;
    overflow: visible;
}
#Group_464 {
    position: absolute;
    width: 332px;
    height: 1089px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Group_43 {
    position: absolute;
    width: 332px;
    height: 917px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Group_41 {
    position: absolute;
    width: 332px;
    height: 917px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_572 {
    opacity: 0.84;
}
.Rectangle_572 {
    position: absolute;
    overflow: visible;
    width: 332px;
    height: 917px;
    left: 0px;
    top: 0px;
}
.Rectangle_574 {
    position: absolute;
    overflow: visible;
    width: 332px;
    height: 99px;
    left: 0px;
    top: 0px;
}
#_Symphnia_Services_ {
    position: absolute;
    left: 64px;
    top: 37px;
    overflow: visible;
    width: 182px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(97,194,183,1);
}
.Rectangle_575 {
    position: absolute;
    overflow: visible;
    width: 332px;
    height: 91px;
    left: 0px;
    top: 280px;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: out_coming_requests_All.html;
    cursor: pointer;
}
.Rectangle_575_gf {
    position: absolute;
    overflow: visible;
    width: 332px;
    height: 91px;
    left: 0px;
    top: 372px;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: incoming_requests_all.html;
    cursor: pointer;
}
.Rectangle_575_gg {
    position: absolute;
    overflow: visible;
    width: 332px;
    height: 91px;
    left: 0px;
    top: 464px;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: interview_secluded.html;
    cursor: pointer;
}
#Outcoming_requests {
    position: absolute;
    left: 35px;
    top: 311px;
    overflow: visible;
    width: 188px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#Incoming_requestes {
    position: absolute;
    left: 64px;
    top: 405px;
    overflow: visible;
    width: 182px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
.Rectangle_1535 {
    position: absolute;
    overflow: visible;
    width: 332px;
    height: 91px;
    left: 0px;
    top: 189px;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: hunt_teacher.html;
    cursor: pointer;
}
.Rectangle_1536 {
    position: absolute;
    overflow: visible;
    width: 332px;
    height: 91px;
    left: 0px;
    top: 98px;
}
#Hunt_Empolyee {
    position: absolute;
    left: 35px;
    top: 219px;
    overflow: visible;
    width: 143px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#School_Posts {
    position: absolute;
    left: 35px;
    top: 130px;
    overflow: visible;
    width: 117px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#Interview_secluded_school_ {
    position: absolute;
    left: 44px;
    top: 492px;
    overflow: visible;
    width: 245px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#Component_6___42 {
    position: absolute;
    width: 332px;
    height: 535px;
    left: 0px;
    top: 554px;
    overflow: visible;
}
#Group_458 {
    position: absolute;
    width: 332px;
    height: 535px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Rectangle_1525 {
    position: absolute;
    overflow: visible;
    width: 332px;
    height: 87px;
    left: 0px;
    top: 0px;
}
#setting {
    position: absolute;
    left: 82px;
    top: 30px;
    overflow: visible;
    width: 65px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#Group_454 {
    transform: translate(-660px, -486px) matrix(1,0,0,1,946.5,529.5) rotate(180deg);
    transform-origin: center;
    position: absolute;
    width: 24px;
    height: 12.866px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Line_10_gt {
    overflow: visible;
    position: absolute;
    width: 12px;
    height: 12.866px;
    left: 12px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
.Line_11 {
    overflow: visible;
    position: absolute;
    width: 12px;
    height: 12.866px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_451 {
    position: absolute;
    width: 332px;
    height: 451px;
    left: 0px;
    top: 84px;
    overflow: visible;
}
.Rectangle_1520 {
    position: absolute;
    overflow: visible;
    width: 332px;
    height: 451px;
    left: 0px;
    top: 0px;
}
#Group_450 {
    position: absolute;
    width: 331px;
    height: 171px;
    left: 0.5px;
    top: 85.5px;
    overflow: visible;
}
#Group_449 {
    position: absolute;
    width: 331px;
    height: 171px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Line_12 {
    overflow: visible;
    position: absolute;
    width: 330px;
    height: 1px;
    left: 1px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
.Line_12_g {
    overflow: visible;
    position: absolute;
    width: 330px;
    height: 1px;
    left: 0px;
    top: 86px;
    transform: matrix(1,0,0,1,0,0);
}
.Path_4 {
    overflow: visible;
    position: absolute;
    width: 330px;
    height: 1px;
    left: 0px;
    top: 171px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_461 {
    position: absolute;
    width: 332px;
    height: 429px;
    left: 0px;
    top: 83px;
    overflow: visible;
}
.Rectangle_1522 {
    position: absolute;
    overflow: visible;
    width: 332px;
    height: 87px;
    left: 0px;
    top: 0px;
}
#Accounting_Setting {
    position: absolute;
    left: 90px;
    top: 32px;
    overflow: visible;
    width: 179px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
.Rectangle_1534 {
    position: absolute;
    overflow: visible;
    width: 332px;
    height: 87px;
    left: 0px;
    top: 87px;
    --web-animation: fadein 0.3s ease-in-out;
    --web-action-type: page;
    --web-action-target: interview_setting_.html;
    cursor: pointer;
}
#interview_Setting {
    position: absolute;
    left: 91px;
    top: 104px;
    overflow: visible;
    width: 160px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#Group_453 {
    position: absolute;
    width: 329px;
    height: 261px;
    left: 2px;
    top: 168px;
    overflow: visible;
}
#Component_4___1 {
    position: absolute;
    width: 329px;
    height: 261px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Component_5___1 {
    position: absolute;
    width: 329px;
    height: 261px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Rectangle_1528 {
    position: absolute;
    overflow: visible;
    width: 326px;
    height: 87px;
    left: 3px;
    top: 0px;
}
#Profile_Setting {
    position: absolute;
    left: 89px;
    top: 27px;
    overflow: visible;
    width: 136px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#Group_456 {
    transform: translate(0px, 0px) matrix(1,0,0,1,283.5,35.5) rotate(180deg);
    transform-origin: center;
    position: absolute;
    width: 24px;
    height: 12.866px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Line_10_hd {
    overflow: visible;
    position: absolute;
    width: 17.653px;
    height: 18.52px;
    left: 12px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
.Line_11_he {
    overflow: visible;
    position: absolute;
    width: 17.653px;
    height: 18.52px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_459 {
    position: absolute;
    width: 329px;
    height: 174px;
    left: 0px;
    top: 87px;
    overflow: visible;
}
.Rectangle_1531 {
    position: absolute;
    overflow: visible;
    width: 329px;
    height: 87px;
    left: 0px;
    top: 0px;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: edit_members_info.html;
    cursor: pointer;
}
.Rectangle_1532 {
    position: absolute;
    overflow: visible;
    width: 329px;
    height: 87px;
    left: 0px;
    top: 87px;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: edit_basic_info.html;
    cursor: pointer;
}
#Edit_Members_info {
    position: absolute;
    left: 104px;
    top: 30px;
    overflow: visible;
    width: 171px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#Edit_Basic_info {
    position: absolute;
    left: 104px;
    top: 112px;
    overflow: visible;
    width: 135px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#Group_460 {
    transform: translate(0px, 0px) matrix(1,0,0,1,288.5,41.5) rotate(180deg);
    transform-origin: center;
    position: absolute;
    width: 24px;
    height: 12.866px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Line_10_hl {
    overflow: visible;
    position: absolute;
    width: 17.653px;
    height: 18.52px;
    left: 12px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
.Line_13_hm {
    overflow: visible;
    position: absolute;
    width: 17.653px;
    height: 18.52px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
